.hero
  &__title
    +light
    font-weight: 300
    font-size: 60px
    line-height: 140%
    max-width: 636px
    max-height: 168px
    margin-bottom: 30px
  &__desc
    display: block
    +medium
    font-weight: 550
    font-size: 14px
    line-height: 140%
    max-width: 386px
    max-height: 60px
    margin-bottom: 50px
  &__btn
    margin-bottom: 131px
  &__arrow
    display: flex
    &-img
      padding: 22.5px
    &-right
      width: 60px
      height: 60px
      background: $third-color
    &-left
      width: 60px
      height: 60px
      background: $third-color
      margin-right: 20px
      margin-bottom: 100px
